@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/PatrickHand-Regular.ttf');
}